version: 2.1

executors:
  ubuntu-20-04:
    machine:
      image: ubuntu-2004:2024.04.4
  ubuntu-22-04:
    machine:
      image: ubuntu-2204:2024.04.4
  ubuntu-24-04:
    machine:
      image: ubuntu-2404:2024.05.1

jobs:
  arm64-e2e:
    parameters:
      os:
        type: executor
      backend:
        type: string
    resource_class: arm.medium
    executor: << parameters.os >>

    steps:
      - checkout

      - run:
          name: build
          command: |
            make build-via-docker

            echo '========== info =========='
            uname -a
            cat /etc/issue
            file ./ptcpdump
      - run:
          name: setup env
          command: |
            if [ "<< parameters.backend >>" = "tc" ]; then
              PTCPDUMP_EXTRA_ARGS=''
            elif [ << parameters.backend >> = "tp-btf" ]; then
              PTCPDUMP_EXTRA_ARGS='--backend tp-btf'
            elif [ << parameters.backend >> = "cgroup-skb" ]; then
              PTCPDUMP_EXTRA_ARGS='--backend cgroup-skb'
            elif [ << parameters.backend >> = "socket-filter" ]; then
              PTCPDUMP_EXTRA_ARGS='--backend socket-filter'
            else
              PTCPDUMP_EXTRA_ARGS='--backend tc'
            fi
            echo PTCPDUMP_EXTRA_ARGS="'${PTCPDUMP_EXTRA_ARGS}'" >> "$BASH_ENV"

      - run:
          name: e2e (test base)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_base.sh ./ptcpdump

      - run:
          name: e2e (test parent)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_default.sh ./ptcpdump
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_parent_info.sh ./ptcpdump

      - run:
          name: e2e (test pname filter)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_pname_filter.sh ./ptcpdump

      - run:
          name: e2e (test pid filter)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_pid_filter.sh ./ptcpdump

      - run:
          name: e2e (test_tune.sh)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_tune.sh ./ptcpdump

      - when:
          condition:
            and:
              - equal: [ << parameters.backend >>,'tc' ]
              - equal: [ << parameters.os >>, 'ubuntu-24-04' ]
          steps:
            - run:
                name: e2e (test read pcap)
                command: |
                  sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_read_pcap.sh ./ptcpdump

            - run:
                name: e2e (test write pcap)
                command: |
                  sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_write_pcap.sh ./ptcpdump

            - run:
                name: e2e (test write stdout)
                command: |
                  sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_write_stdout.sh ./ptcpdump

      - run:
          name: e2e (test_arp.sh)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_arp.sh ./ptcpdump
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_icmp.sh ./ptcpdump

      - run:
          name: e2e (test sub-program)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_sub_program.sh ./ptcpdump
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_sub_curl_domain_program.sh ./ptcpdump

      - run:
          name: e2e (test netns)
          command: |
            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/retry.sh 5 bash testdata/test_netns.sh ./ptcpdump

      - when:
          condition:
            or:
             - equal: [<< parameters.backend >>,'tc']
             - equal: [<< parameters.backend >>, 'socket-filter']
          steps:
            - run:
                name: e2e (test netns newly)
                command: |
                  sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_netns_newly_normal.sh ./ptcpdump
                  sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/test_netns_newly_exec.sh ./ptcpdump

            - run:
                name: e2e (test nat)
                command: |
                  sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/retry.sh 5 bash testdata/test_nat.sh ./ptcpdump

      - run:
          name: e2e (test go tls keylog, unstripped)
          filters: pipeline.parameters.os == 'ubuntu-24-04'
          command: |
            echo "wireshark-common wireshark-common/install-setuid boolean true" | sudo debconf-set-selections
            sudo add-apt-repository -y ppa:wireshark-dev/stable
            sudo apt update
            sudo DEBIAN_FRONTEND=noninteractive apt install -y tshark
            make -C testdata/gohttpapp build

            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/retry.sh 10 bash testdata/test_gotls_keylog.sh ./ptcpdump gohttpapp

      - run:
          name: e2e (test go tls keylog, PIE)
          filters: pipeline.parameters.os == 'ubuntu-24-04'
          command: |
            echo "wireshark-common wireshark-common/install-setuid boolean true" | sudo debconf-set-selections
            sudo add-apt-repository -y ppa:wireshark-dev/stable
            sudo apt update
            sudo DEBIAN_FRONTEND=noninteractive apt install -y tshark
            make -C testdata/gohttpapp build

            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/retry.sh 10 bash testdata/test_gotls_keylog.sh ./ptcpdump gohttpapp_pie

      - run:
          name: e2e (test go tls keylog, stripped)
          filters: pipeline.parameters.os == 'ubuntu-24-04'
          command: |
            echo "wireshark-common wireshark-common/install-setuid boolean true" | sudo debconf-set-selections
            sudo add-apt-repository -y ppa:wireshark-dev/stable
            sudo apt update
            sudo DEBIAN_FRONTEND=noninteractive apt install -y tshark
            make -C testdata/gohttpapp build

            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/retry.sh 10 bash testdata/test_gotls_keylog.sh ./ptcpdump gohttpapp_stripped

      - run:
          name: e2e (test go tls keylog, stripped + PIE)
          filters: pipeline.parameters.os == 'ubuntu-24-04'
          command: |
            echo "wireshark-common wireshark-common/install-setuid boolean true" | sudo debconf-set-selections
            sudo add-apt-repository -y ppa:wireshark-dev/stable
            sudo apt update
            sudo DEBIAN_FRONTEND=noninteractive apt install -y tshark
            make -C testdata/gohttpapp build

            sudo PTCPDUMP_EXTRA_ARGS="${PTCPDUMP_EXTRA_ARGS}" bash testdata/retry.sh 10 bash testdata/test_gotls_keylog.sh ./ptcpdump gohttpapp_stripped_pie


  docker-e2e:
    machine:
      image: ubuntu-2204:2024.04.4
    resource_class: medium
    steps:
      - checkout

      - run:
          name: build
          command: |
            make build-via-docker

            echo '========== info =========='
            uname -a
            cat /etc/issue
            file ./ptcpdump
      - run:
          name: test docker
          command: |
            sudo bash testdata/test_docker.sh ./ptcpdump

      - run:
          name: test filter by container id
          command: |
            sudo bash testdata/test_docker_container_id_filter.sh ./ptcpdump

      - run:
          name: test docker filter by container name
          command: |
            sudo bash testdata/test_docker_container_name_filter.sh ./ptcpdump

  containerd-e2e:
    machine:
      image: ubuntu-2204:2024.04.4
    resource_class: medium
    steps:
      - checkout
      - run:
          name: setup containerd
          command: |
            wget https://github.com/containerd/nerdctl/releases/download/v1.7.6/nerdctl-1.7.6-linux-amd64.tar.gz
            sudo tar Cxzvvf /usr/local/bin nerdctl-1.7.6-linux-amd64.tar.gz

            wget https://github.com/containernetworking/plugins/releases/download/v1.5.0/cni-plugins-linux-amd64-v1.5.0.tgz
            sudo mkdir -p /opt/cni/bin
            sudo tar Cxzvvf /opt/cni/bin cni-plugins-linux-amd64-v1.5.0.tgz

      - run:
          name: build
          command: |
            make build-via-docker

            echo '========== info =========='
            uname -a
            cat /etc/issue
            file ./ptcpdump
      - run:
          name: test containerd
          command: |
            sudo bash testdata/test_containerd.sh ./ptcpdump

      - run:
          name: test containerd filter by container id
          command: |
            sudo bash testdata/test_containerd_container_id_filter.sh ./ptcpdump

      - run:
          name: test containerd filter by container name
          command: |
            sudo bash testdata/test_containerd_container_name_filter.sh ./ptcpdump

  k8s-1-30-e2e:
    machine:
      image: ubuntu-2204:2024.04.4
    steps:
      - checkout
      - run:
          name: setup kind
          command: |
            wget https://github.com/kubernetes-sigs/kind/releases/download/v0.23.0/kind-linux-amd64
            chmod +x kind-linux-amd64
            sudo cp ./kind-linux-amd64 /usr/local/bin/kind

            IMG=kindest/node:v1.30.0@sha256:047357ac0cfea04663786a612ba1eaba9702bef25227a794b52890dd8bcd692e
            sudo docker pull "${IMG}"
            sudo docker pull alpine:3.18
            sudo docker pull busybox:1

            sudo kind create cluster
            sudo kind load docker-image alpine:3.18
            sudo kind load docker-image busybox:1
            sudo kind export kubeconfig

      - run:
          name: build
          command: |
            make build-via-docker

            echo '========== info =========='
            uname -a
            cat /etc/issue
            file ./ptcpdump
      - run:
          name: test k8s
          command: |
            sudo bash testdata/run_test_k8s.sh

      - run:
          name: test k8s filter by container id
          command: |
            sudo bash testdata/run_test_k8s_filter_by_container.sh

      - run:
          name: test k8s filter by pod name
          command: |
            sudo bash testdata/run_test_k8s_filter_by_pod.sh

      - run:
          name: test k8s filter by pod name with multiple containers
          command: |
            sudo bash testdata/run_test_k8s_filter_by_pod_2.sh

workflows:
  e2e:
    jobs:
      - arm64-e2e:
          matrix:
            parameters:
              os:
                - ubuntu-20-04
                - ubuntu-22-04
                - ubuntu-24-04
              backend:
                - tc
                - cgroup-skb
                - tp-btf
                - socket-filter
