name: release-test

on:
  workflow_dispatch:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

permissions:
  contents: read

jobs:

  release-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          # renovate: datasource=golang-version depName=golang
          go-version: '1.25.2'

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --snapshot --clean --skip=publish -p 1

      - name: Test binary
        run: |
          mkdir amd64 && tar zxvf dist/ptcpdump_v0.0.0-next_linux_amd64.tar.gz -C amd64
          mkdir arm64 && tar zxvf dist/ptcpdump_v0.0.0-next_linux_arm64.tar.gz -C arm64
          mkdir armv7 && tar zxvf dist/ptcpdump_v0.0.0-next_linux_armv7.tar.gz -C armv7
          ./amd64/ptcpdump --version

          file ./amd64/ptcpdump |grep x86-64 |grep 'statically linked'
          file ./arm64/ptcpdump |grep aarch64 |grep 'statically linked'
          file ./armv7/ptcpdump |grep 32-bit |grep 'statically linked'

      - name: Run govulncheck for binary
        run: |
          set -xe
          govulncheck -mode=binary -show verbose -scan module ./amd64/ptcpdump
          govulncheck -mode=binary -show verbose -scan module ./arm64/ptcpdump

      - name: Store Releases
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ptcpdump_v0.0.0-next_linux_amd64.tar.gz
          path: dist/ptcpdump_v0.0.0-next_linux_amd64.tar.gz

      - name: Store Releases
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ptcpdump_v0.0.0-next_linux_arm64.tar.gz
          path: dist/ptcpdump_v0.0.0-next_linux_arm64.tar.gz

      - name: Store Releases
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ptcpdump_v0.0.0-next_linux_armv7.tar.gz
          path: dist/ptcpdump_v0.0.0-next_linux_armv7.tar.gz

  artifact-test:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'ubuntu-24.04-arm']
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    needs: release-test
    steps:
      - name: Retrieve stored artifact (amd64)
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        if: ${{ !contains(matrix.os, 'arm') }}
        with:
          name: ptcpdump_v0.0.0-next_linux_amd64.tar.gz
      - name: Retrieve stored artifact (arm64)
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        if: ${{ contains(matrix.os, 'arm') }}
        with:
          name: ptcpdump_v0.0.0-next_linux_arm64.tar.gz

      - name: untar artifact
        run: |
          if uname -a |grep x86_64; then
            ARCH=amd64
          else
            ARCH=arm64
          fi
          tar zxvf ptcpdump_v0.0.0-next_linux_${ARCH}.tar.gz

      - name: Test binary
        run: |
          set -xe
          uname -a
          ./ptcpdump --version
          sudo ./ptcpdump -i any -c 2
